
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
  background-image: url(Airplane_over_building.jpg);
  background-blend-mode:luminosity;
  background-color: rgb(77, 195, 224);
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(173, 230, 197);
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid rgb(173, 230, 197);
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: rgb(173, 230, 197);
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item a{
  color: rgb(255, 255, 255);
  text-align: center;   
  text-decoration: 0.5;
  text-transform: capitalize;
  padding: 10px 20px;
  margin: 0 20px;
  line-height: 100px;
  transition: .5s;
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  text-decoration: underline;

} 

.nav-item a:hover {
    opacity: 1;
    color: aqua;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}

/* home  */
.intro {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.section-title {
    color: black;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
    

}


